[Desktop Entry]
Version=1.0
Type=Application
Name=Fildem Global Menu
GenericName=Fildem Global Menu 
Comment=Fildem Global Menu
Exec=fildem
TryExec=fildem
Icon=search
Terminal=false
Type=Application
